*{
    margin: 0;
}

.error--page{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 25vw;
    padding: 5vw 0;
    justify-content: space-evenly;

}

.error--page h1{
    font-size: 5vw;
}

.error--page h3{
    font-size: 2vw;
}

.error--page button{
    background-color: red;
    color: rgb(255, 255, 255);
    border: none;
    font-size: 1vw;
    padding: 0.8vw;
    border-radius: 0.9vw;
    font-weight: 520;
}

.error--page button:hover{
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: rgb(126, 126, 126);
    transition:0.25s;
}

.error--page button:active{
    transform: scale(0.98);
}